.App header, .App h2, .App h3, .App h4, .App h5 {
  text-align: center;
}

.App {
  text-align: left;
}

.App header {
  margin-bottom: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-cartoon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

h1.App-title {
  font-size: 1.5em;
}

h2.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 80%;
  padding: 30px 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card, .organizations-list {
   margin-bottom: 10px;
}

.pagination {
  width: 100%;
  margin: 30px 0 0 0;
  padding: 0;
  display: block;
}
.pagination li {
  list-style: none;
  display: inline-block;
}
.pagination li a {
  display: block;
  padding: 5px 15px;
  font-size: 16px;
  background: #5aaaff;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px;
  text-decoration: none;
  text-shadow: 0 1px #000;
}
.pagination li a:hover {
  text-decoration: none;
  background-color: #429dff;
}
.pagination li a.active {
  background-color: #007bff;
}