.App header, .App h2, .App h3, .App h4, .App h5 {
  text-align: center;
}

.App {
  text-align: left;
}

.App header {
  margin-bottom: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-cartoon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

h1.App-title {
  font-size: 1.5em;
}

h2.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  margin-top: 30px;
  text-align: center;
  text-width: 100%;
  font-size: 80%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card, .organizations-list {
   margin-bottom: 10px;
}
